/_build
/.elixir_ls
/cover
/deps
/doc
/example/_build
/lib/generated
/src/thrift_lexer.erl
/src/thrift_parser.erl
/test/fixtures/app/_build
/test/fixtures/app/lib
/tmp
erl_crash.dump
*.ez
log.*
*.log
*.*~
.*~
