language: elixir

branches:
  only:
    - "master"

matrix:
  include:
    - elixir: 1.4.5
      otp_release: 19.3
    - elixir: 1.5.2
      otp_release: 19.3
    - elixir: 1.5.2
      otp_release: 20.0
      env: COVERALLS=true

sudo: required
dist: trusty
services: docker

env:
  - COVERALLS=false

script:
  - MIX_ENV=test mix deps.compile
  - ./ci/tests.sh

cache:
  directories:
  - $HOME/.mix/archives
