language: elixir
elixir:
  - 1.2.6
  - 1.3.3
otp_release:
  - 18.2
  - 18.3
  - 19.0
sudo: required
group: edge
services: docker
before_install:
  - mv .thrift-docker thrift
  - export PATH=$TRAVIS_BUILD_DIR:$PATH
after_script:
  - MIX_ENV=test mix coveralls.travis
cache:
  directories:
  - $HOME/.mix/archives
